body{
    background: url("../images/background3.png") repeat-y, url("../images/background2.png");
}

.fullName{
    padding:20px;
}
.menu li{
    font-size: 16px;
    font-weight: bold;
    color: darkolivegreen;
    display: inline;
    padding: 10px 30px;
}
.menu li span{
    position: relative;
    top: -20px;
    font-size: 14px;
    margin-top: 10px;
}
.fone-menu{
    position:relative;
    top:5px;
}
.menu li a:hover{
    border-bottom:moccasin solid;
}
.menu li a{
    text-decoration: none;
    color:darkslategray;
}
#head{
    /* background-color: rgb(216, 230, 228); */
    margin-top: 20px;
    border-radius: 30px;
    width: 1000px;
    height: 320px;
    border-top: solid olivedrab;
    border-bottom: solid olivedrab;
    position: relative;
    left: 20px;
}
#head #content{
    position:relative;
    top:-15px;
}
#img-profile{
    position: relative;
    height:50px;
    left:1050px;
    top:-350px;
}
#right-position{
    background-color: wheat;
    width: 100px;
    height: 900px;
    position: absolute;
    top: 5px;
    left: 1050px;
}
.img-profile{
    border-radius: 30px;
}
.profile-picture{
    border-radius: 120px;
    /* border-style: solid; */
    /* border-color: darkseagreen; */
    position:relative;
    left:200px;
    top:-10px;
}
.head-info1{
    position: relative;
    left:450px;
    top:-130px;
}
.head-info2{
    position: relative;
    left:150px;
    top:-120px;
}
#perfil{
    position: absolute;
    top: 10px;
}
#skills{
    width: 600px;
    position: relative;
    left: 50px;
}
#skills .self-taught{
    background-color:rgb(238, 224, 198);
    display: block;
    width: 730px;
    height: 200px;
    border-radius: 15px;
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
}

#skills .self-taught p{
    display: block;
    width: 550px;
    text-align: justify;
    position: relative;
    left: 120px;
    font-size: 18px;
}

#skills .self-taught2{
    background-color:rgb(218, 241, 220);
    display: block;
    width: 700px;
    height: 160px;
    border-radius: 15px;
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 250px;
}

#skills .self-taught2 p{
    width: 530px;
    margin-left: 20px;
    text-align: justify;
    font-size: 18px;
}


#skills .skills1{
    position: relative;
    left: 20px;
    top: -110px;
}
#skills .skills2{
    position: relative;
    left: 20px;
    top: -50px;
}
#skills .skills4{
    margin-left: 580px;
    margin-top: -70px;
}


#skills .color1-self-taught{
    background-color: rgb(190, 168, 169);
    margin-left: 150px;
}

#skills .color2-self-taught{
    background-color: rgb(190, 168, 169);
    margin-left: 150px;
}

#preferences{
    width: 800px;
    position: relative;
    left: 50px;
    font-size: 16px;
}
#preferences p{
    font-size: 18px;
    text-align: justify;
}
#preferences a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

#footer{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 1000px;
    height: 60px;
    text-align: center;
    background-color:rgb(218, 241, 220);
}

